@use "global" as *;

.footer {
    background-color: $brown;
    text-align: center;

}

.footer__copyright {
    font-size: rem(14);
    font-weight: $regular;
    font-family: $second-font-family;
    color: $white2;
    line-height: calc(16 / 14);

}

