@use "global" as *;


.page-contact__inner.inner {
    @include mq(md){
        max-width: rem(850);
    }

}

.page-contact__lead {
    @include mq(md){
        text-align: center;
	    display: block;
    }
}

.page-contact__text {
    font-size: rem(14);
    font-weight: $medium;
    font-family: $base-font-family;
    color: $black;
    line-height: calc(26 / 14);
    letter-spacing: 0.05em;
    @include mq(md){
       font-size: rem(15);
       line-height: calc(28 / 15);
       text-align: left;
	display: inline-block;

    }
}

.page-contact__content {
    background-color: $white2;
    border-top-left-radius: rem(20);
    padding: rem(40) rem(20);
    margin-top: rem(40);
    @include mq(md){
       padding: rem(60) rem(150);
       margin-top: rem(60);
    }
}